{% block inforuban %}
{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../static/style.css">  
<body>
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header">Niooy Niane</h5>
    <div class="card-body">
        <p class="card-text">CinéBlog est un site ayant pour but la promotion et la diffusion d'oeuvres cinématographiques et télévisuelles.</p>
        <p class="card-text">Par le biais de notre site, nous traitons des sorties au cinéma, des portraits, des rétrospectives.</p>
        <p class="card-text">CinéBlog est composé d’un seul rédacteur bénévole, libre de tous droits concernant ses articles.</p>
        <p class="card-text">De ce fait, chaque article reflète la pensée et l’avis général du site.</p> 
        <center>
        <a href='http://127.0.0.1:8000/admin'
           class="btn btn-admin">Access Admin</a>
        </center>
    </div>
</div>  
<div class="card my-4">  
    <h5 class="card-header">Lu xew béés</h5>
    <div class="card-body">
        <p class="card-text"> <h6>Oscars 2025</h6> « Anora » domine les plus grandes récompenses, le film, dont le tournage n'a coûté que 6 millions de dollars, a remporté l'Oscar du meilleur film et quatre autres Oscars.</p>
        <a target ="blank" href='https://www.nytimes.com/2025/03/02/movies/oscars-academy-awards-anora.html'
           class="btn btn-safe">Guiss +</a> <p> </p> 
        <p class="card-text"> <h6>Oscars 2025</h6>Grand favori des Oscars 2025, EMILIA PEREZ de Jacques Audiard a finalement laissé de nombreuses statuettes au ANORA de Sean Baker qui a été sacré grand vainqueur de la soirée après quatre heures de cérémonie. Revivez les 5 moments qu’il fallait ne pas rater de cette 97e cérémonie.</p>
        <a target ="blank" href='https://www.leblogducinema.com/actualites/breves/oscars-2025-65524371/'
           class="btn btn-safe">Guiss +</a> <p> </p>  
        <p class="card-text"> <h6>Rétro : Guélewar 1992</h6>C'est déjà assez triste que l'activiste politique Guelwaar (« le noble ») vienne de mourir mystérieusement, juste après un discours d'ouverture fascinant mais où est le corps ? Mal identifié et enterré dans un cimetière musulman ? Mais il était catholique ! La solution est évidente mais les plans d'exhumation de la famille déraillent rapidement alors qu'une tempête de feu comique mordante de paperasserie, de conflits intrafamiliaux et de guerres de territoire religieuses menace de dégénérer en chaos.</p>
        <a target ="blank" href='https://www.youtube.com/watch?v=_2uhwkcdFO8'
           class="btn btn-safe">Guiss +</a> <p> </p>  
        <center>       
        <a href='http://127.0.0.1:8000/'
           class="btn btn-danger">Déllussil Dalal Diam Page</a
        </center>        
    </div>
</div>
</div>
</body>
</html>
{% endblock inforuban %}
