
body {background-image: url("bg.png")}
a{color:red;}
title{color:green;}
h1{color: red;
   font-family: "cursive", sans-serif;
   font-size: 40px;}
h2{color: black;}
h3{color: green;}
h5{color: black;}
h6{color: blue;}
p{color: black;}

.shadow {box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);}

.btn-danger{color: white;
            background-color: green;
            border-color: red;}

.btn-safe{color: yellow;
          background-color: black;
          border-color: yellow;}

.btn-admin{color: black;
          background-color: whitesmoke;
          border-color: whitesmoke;}           
                       
.masthead {background: black;
           height: auto;
           padding-bottom: 70px;
           box-shadow: 0 16px 48px whitesmoke;
           padding-top: 10px;}
            
.card{box-shadow: 0 15px 40px #E3E7EB;}
